apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 33
        runAsGroup: 33
        fsGroup: 33
      containers:
        - name: linkding
          image: sissbruecker/linkding:1.45.0
          securityContext:
            allowPrivilegeEscalation: false
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: storage-volume
              mountPath: /etc/linkding/data
          env:
            - name: LD_SUPERUSER_NAME
              valueFrom:
                secretKeyRef:
                  name: linkding-su-creds
                  key: user
            - name: LD_SUPERUSER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: linkding-su-creds
                  key: password
      volumes:
        - name: storage-volume
          persistentVolumeClaim:
            claimName: linkding-data-pvc
